@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap");

/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*Main Styling*/
body {
  font-family: Mulish, "Trebuchet MS", sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

/* Utility */
.container {
  max-width: 1200px;
  padding: 0 20px;
  margin: auto;
}
.highlight-dark-yellow {
  color: #d69622 !important;
}
.highlight-yellow {
  color: #ffb52e !important;
}

.submitbtn {
  color: #f4f4f4;
  background-color: #9f2d41;
  font-weight: bold;
  border-radius: 20px;
  width: 300px;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
  height: 46px;
  margin-top: 20px;
}
.submitbtn:hover {
  color: #7e2a39;

  background-color: #d69622;
}

.error-message {
  background-color: #ffaaba;
  text-align: center;
  padding: 4px 0;
}

/* first select option element turns gray and disapears */
select:required:invalid {
  color: gray;
}
option[value=""][disabled] {
  display: none;
}
option {
  color: black;
}

/* removes arrows in input[type="number"] */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

/* Top Navigation Bar */
.top-nav {
  background-color: #f4f4f4;
}
.top-nav_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

.top-nav_logo {
  color: #d69622;
  font-weight: lighter;
  font-size: 36px;
}

.logo-span {
  color: #9f2d41;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 40px;
}

.top-nav_list {
  display: flex;
  justify-content: end;
  list-style: none;
}

.top-nav_item1 input[type="text"] {
  border: 2px solid #9f2d41;
  font-weight: bold;
  font-size: 18px;
  padding-left: 12px;
  margin-right: 4px;
  outline: none;
  font-family: Mulish;
  border-radius: 50px;
  height: 36px;
}
.top-nav_item1 input[type="text"]:focus {
  border: 2px solid #d69622;
}
.top-nav_item1 {
  padding-right: 20px;
}

.top-nav_item1 button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #9f2d41;
  font-size: 25px;
}

.top-nav_item1 button:hover {
  color: #d69622;
}

.top-nav_item2,
.top-nav_item3 {
  padding: 5px 18px;
  font-size: 18px;
  font-weight: bold;
}

.top-nav_item2 {
  border-left: solid 1px #9f2d41;
}
.top-nav_item3 {
  background-color: #9f2d41;
  border-radius: 6px;
}
.top-nav_item2 a:hover {
  color: #d69622;
}
.top-nav_item3 a {
  color: #f4f4f4;
}

.top-nav_item3 a:hover {
  color: #ffb52e;
}

/* Bottom Navigation */
.bottom-nav {
  background-color: #9f2d41;
}

.bottom-nav_content {
  height: 45px;
  display: flex;
  align-items: center;
}

.bottom-nav_list {
  list-style: none;
  width: 100%;
  display: flex;
}

.bottom-nav_list a {
  color: #f4f4f4;
  font-weight: bold;
  padding: 0 10px;
}

.bottom-nav_list a:hover {
  color: #ffb52e;
}

.bottom-nav_lastitem {
  margin-left: auto;
}

.bottom-nav_lastitem a {
 
  padding: 2px 10px;
  color: #f4f4f4;
  border: solid 2px #f4f4f4;
  border-radius: 5px;
}
.bottom-nav_lastitem a:hover {
  color: #ffb52e;
  border-color:#ffb52e;
}

/* Header */

.header {
  background-image: linear-gradient(#7e2a39, #9f2d41);
}

.header_content {
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header_title {
  color: #ffb52e;
  font-weight: bold;
  font-size: 50px;
  text-align: center;
  padding-bottom: 20px;
}

.header_info {
  color: #f4f4f4;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  width: 80%;
}

/* Footer */
.footer {
  background-color: #1b1b1b;
}

.footer-content {
  padding: 20px 20px;
  height: 160px;
  color: #f4f4f4;
}

.footer-title {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #f4f4f4;
}

.footer-title > * {
  padding-bottom: 8px;
}

.footer-details {
  display: flex;
  justify-content: space-between;
}

.footer-content ul {
  list-style: none;
  padding-top: 8px;
}
.footer-details-names {
  padding-left: 10px;
}

.footer-details-icons {
  padding-right: 10px;
}

.footer-details li {
  font-size: 16px;
  padding-bottom: 2px;
}

/* Homepage - Main Content */

.main {
  background-color: #f4f4f4;
}
.main-content_title {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
  padding: 10px 0;
}

.main-content_title_header {
  background-color: #f4f4f4;
  color: #9f2d41;
  padding: 0 10px;
  z-index: 1;
}

.main-content_title_line {
  position: absolute;
  top: 50%;
  margin: auto;
  width: 100%;
  height: 2px;
  background-color: #9f2d41;
}

/*  Login & Signup Page */

.signupbox,
.loginbox {
  font-family: Mulish;
  font-weight: bold;
  font-size: 16px;
  border: 2px solid #9f2d41;
  width: 250px;
  padding-left: 12px;
  margin-right: 4px;
  outline: none;
  border-radius: 20px;
  height: 36px;
  margin: 10px;
}

.signupbox:focus,
.loginbox:focus {
  border: 2px solid #d69622;
}

.signupFormContainer,
.loginFormContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 550px;
}

.signupForm,
.loginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.FormHeading {
  color: #9f2d41;
  font-weight: bold;
  font-size: 50px;
  margin-bottom: 20px;
}

/* Textbooks Page */

/* Stationery Page */

/* Tutoring Page */

/* Other Page */

/* Search Page */

/*Account Page*/
.account_main {
  height: 70vh;
}
.account_heading {
  color: #7e2a39;
  text-align: center;
  padding: 30px  0 10px 0;
}

.account_content {
  display: flex;
  
}

.account_content ul {
  list-style: none;
}

.account_list {
  padding-right: 30px;
  border-right: #9f2d41 solid 3px;
}

.account_info {
  padding-left: 30px;
  
}

.account_info li {
  margin-bottom: 6px;
}

.account_info span {
  
}

